@mixin span-content {
	font-size: .85rem;
	font-weight: $weight-bold;
	margin-top: 3.57rem;
}

@mixin flex { 
	display: flex;
	justify-content: space-between;
	@content
}

@mixin respond-phone {
	@media (max-width: 37.5em) { //600px
		@content
	} 
}

@mixin span-content--mob {
	font-size: .7rem;
}

//RESPONSIVE

@mixin respond ($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 600px) {
			@content
		}
	}
}